@model IEnumerable<WebBja.Models.Partida>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lehiaketako emaitzak</h1>

    <h5>Esta es la home page, tenemos que poner algo que se nos ocurra ;)</h5>

    @* @await Component.InvokeAsync("Partida")*@



    <p>Aprende a contar con <a href="https://www.youtube.com/watch?v=JziMDyQd1Ds">ASP.NET</a>.</p>
</div>
