@model IEnumerable<WebBja.Models.Partida>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lehiaketako emaitzak</h1>
    @await Component.InvokeAsync("Partida")
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
