@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BJA- Kafe Osasungarria</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="~/js/DataTables/datatables.min.css">


    <!-- Favicons -->
    <link href="~/plantilla/img/favicon.png" rel="icon">
    <link href="~/plantilla/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/plantilla/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    @*<link href="~/plantilla/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">*@

    <!-- Main Stylesheet File -->
    <link href="~/plantilla/css/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />


</head>


<body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                @* <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img style="height:100px;margin-top:-40px" src="~/plantilla/img/favicon.png" alt="Logo"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Partida" asp-action="Guztiak">Guztiak</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Partida" asp-action="Onenak">Hall of Fame</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Partida" asp-action="Txarrenak">Hall of Shame</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Partida" asp-action="Nireak">Nire Partidak</a>
                        </li>
                        @if (User.Identity.Name == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Formulario" asp-action="Index">Formularioa</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Formulario" asp-action="Create">Formularioa</a>
                            </li>
                        }


                    }
                    <li class="nav-item">
                        <partial name="_LoginPartial" />
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <div class="container pt">

        @RenderBody()
    </div>

    <div style=""id="copyrights">
        <div class="container">
            <p>
                &copy; Copyrights <strong>BJA</strong>. All Rights Reserved
            </p>
            <div class="credits">
               BJA Developing for made your dreams true
            </div>
        </div>
    </div>
    <!-- / copyrights -->
    <!-- JavaScript Libraries -->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/DataTables/datatables.min.js"></script>
    <script src="~/js/jquery.fontstar.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
