@model WebBja.Models.Comentario

@{
    ViewData["Title"] = "Create";
}

<h1>Idatzi ezazu zure iruzkina</h1>

<hr />
<div id="formCreate">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Tema" class="control-label"></label>
                <input asp-for="Tema" class="form-control" />
                <label asp-for="Texto" class="control-label"></label>
                <textarea asp-for="Texto" class="form-control"></textarea>
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Bidali" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
