@model WebBja.Models.Formulario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Formulario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Puntuacion" class="control-label"></label>
                <input asp-for="Puntuacion" class="form-control" />
                <span asp-validation-for="Puntuacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horas" class="control-label"></label>
               @*<input asp-for="Horas" class="form-control" />*@
                <select asp-for="Horas" class="form-control">
                    <option value="1h - 3h">1h - 3h</option>
                    <option value="3h - 5h">3h - 5h</option>
                    <option value="5h - 7h">5h - 7h</option>
                    <option value="7h baino gehiago">7h baino gehiago</option>
                </select>


                <span asp-validation-for="Horas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mejoras" class="control-label"></label>
                <input asp-for="Mejoras" class="form-control" />
                <span asp-validation-for="Mejoras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
